.form__title {
    font-weight: 600;
    font-size: 21px;
    color: $grey;
    text-align: center;
}

.form__description {
    color: $grey; 
}

.form__description-blue{
    color: $blue;
    font-weight: 600;
}

.form-control {
    background-color: $ligth-grey2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-bottom: 1.25em;
    &:focus {
        background-color: $ligth-grey2;
    }
}

.form-floating {
    label {
        font-family: $main-font;
        font-size: 12px;
    }
}

.form-password {
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-position: center right 0.75em;
}

.form__foto {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    text-align: center;
    :first-child {
        text-align: left;
    }
    a {
        margin-top: 0.25em;
    }
}

@media screen and (min-width: 768px) {
    .registration {
        .form-floating {
            display: inline-block;
            width: 50%
        }
    }
}