.home {
    background-image: 
    url(../img/Forma\ 1.png);
    
    background-repeat: no-repeat;
    background-position: 
    top left;
    text-align: center;
    .logs__header-user {
        height: 40px;
        width: 40px;
    }
}