//Colors

$blue: hsla(222, 100%, 61%, 1);
$green: hsla(165, 66%, 53%, 1);
$coral: hsla(360, 96%, 71%, 1);
$creme: hsla(31, 81%, 94%, 1);
$ligth-grey: hsla(0, 0%, 74%, 1);
$ligth-grey2: #F7F7F7;
$grey: hsla(240, 5%, 48%, 1);
$white: hsla(0, 0%, 100%, 1);



// Fonts

$main-font: 'Poppins';
$welcome-font: 'IBM Plex Sans';

// Validation 

$form-validation-states: (
  "valid": (
    "color": $form-feedback-valid-color,
    "icon": $form-feedback-icon-valid
  ),
  "invalid": (
    "color": $form-feedback-invalid-color,
    "icon": $form-feedback-icon-invalid
  )
);

@each $state, $data in $form-validation-states {
    @include form-validation-state($state, $data);
  }